:root{
  --white:#fff;
  
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.eot');
  src: url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), 
  url('../fonts/roboto-v30-latin-regular.woff') format('woff'), 
  
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.eot'); 
  src: url('../fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), 
  url('../fonts/roboto-v30-latin-500.woff') format('woff'), 
  
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.eot'); 
  src: url('../fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin-700.woff') format('woff'), 
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: "Roboto" , "Arial" , sans-serif;
  overflow-x: hidden;
}
.container{
  width: 1340px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header{
  padding-top: 40px;
  background-image: url("../images/bi1.svg");
  /* background-repeat: no-repeat; */
  background-position: center;
  
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list{
  display: flex;
  
}

.header-list-l{
  list-style: none;
}

.header-list-l:not(:last-child){
  padding-right: 40px;
}
.header-a{
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  
  letter-spacing: 1px;
  text-transform: uppercase;
  
  color: #333333;
}
.hero-section{
  display: flex;
  background-image: url("../images/bi1.svg");
  /* background-repeat: no-repeat; */
  background-position:  center ;

}

.hero-section-text{
  margin-left: 84px;

}
.section-main-text{
  margin-top: 156px;
  width: 475px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  
  color: #000000;
  
}
.section-next-text{
  padding-bottom: 34px;
  width: 464px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  
  color: #000000;
  
  mix-blend-mode: normal;
  
}
.section-a{
  display: inline-block;
  margin-bottom: 196px;
  
  /* width: 145px; */
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  padding: 16px 24px;
  
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  
  color: #FFFFFF;
  mix-blend-mode: normal;
  
  background: #0A775F;
  border-radius: 100px;
  
}
.hero-s-image{
  position: relative;
}
.hero-s-image::before{
  position: absolute;
  z-index: 1;
  content: "";
  display: inline-block;
  width: 160px;
  height: 160px;
  background-image: url("../images/bugu.svg");
  background-repeat: no-repeat;
  background-size: 160px;
  transform: translate(420%, -474%);
  
}
.hero-image{
  position: absolute;
  width: 710px;
  height: 696px;
  top: calc(50% - 696px);
  left: calc(50% + 95px);
  
}

.collection{
  margin-top: 20px; 
  padding-top: 20px;
  background-image: url("../images/bi2.svg");
  /* background-repeat: no-repeat; */
  background-position:  center ;
  
}
.collection-main-text{
  
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
  
  color: #000000;
}

.collection-list-start{
  margin-right: 11px;
  position: relative;
  left: 163px;
  top: 30px;
  display: flex;
  align-items: center;
  
  
  list-style: none;
}

.collection-list-start::before{
  position: absolute;
  z-index: 1;
  top: calc(50% - 300px);
  left: calc(50% - 1077px);
  display: inline-block;
  content: "";
  background-image: url("../images/barg-d.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 400px;
  height: 400px;
  
}
.danche-img{
  width: 450px;
  height: 375px;
  margin-left: -150px;
}
.in-danche{
  margin-top: -100px;
  margin-left: 160px;
  
}
.in-danche-main-text{
  margin-bottom: 0;
  
  font-weight: 700;
  font-size: 33px;
  line-height: 26px;
  text-transform: uppercase;
  
  color: #333333;
}
.in-danche-next-text{
  width: 450px;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
  
}
.collection-list-start-2{
  margin-right: 11px;
  position: relative;
  left: 163px;
  top: 30px;
  display: flex;
  align-items: center;
  
  
  list-style: none;
}
.collection-list-start-2::after{
  position: absolute;
  z-index: 1;
  
  top: calc(50% - 16px);
  left: calc(50% - -385px);
  
  display: inline-block;
  content: "";
  background-image: url("../images/barg-a.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 400px;
  height: 450px;
  
}
.gran-img{
  margin-top: 40px;
  margin-left: 100px;
}

.collection-list-start-3{
  margin-right: 11px;
  position: relative;
  left: 163px;
  top: 30px;
  display: flex;
  align-items: center;
  
  
  list-style: none;
}
.collection-list-start-3:after{
  position: absolute;
  
  
  top: calc(50% - 300px);
  left: calc(50% - -350px);
  
  display: inline-block;
  content: "";
  background-image: url("../images/barg-b.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 250px;
  height: 215px;
  
}
.in-danche-picolo{
  margin-left: 200px;
}
.collection-list-start-4{
  padding-bottom: 50px;
  margin-right: 11px;
  position: relative;
  left: 163px;
  top: 30px;
  display: flex;
  align-items: center;
  
  
  list-style: none;
}

.collection-list-start-4::before{
  position: absolute;
  z-index: 1;
  top: calc(50% - 203px);
  left: calc(50% - 1005px);
  display: inline-block;
  content: "";
  background-image: url("../images/barg-c.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 316px;
  height: 290px;
  
}


.choose{
  
  background-image: url("../images/bi3.svg");
  
  background-position:  center ;
  height: 703px;
  
}
.choose-main-text{
  margin-top: 0;
  margin-bottom: 0;
  
  padding-top: 50px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  
  text-align: center;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
}
.choose-next-text{
  margin-right: auto;
  margin-left: auto;
  width: 581px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  
  color: #FFFFFF;
  
  mix-blend-mode: normal;
  opacity: 0.8;
  
}
.choose-wrapper{
  display: flex;
  position: absolute;
  left: calc(50% - 703px);
  margin-top: 60px;
}
.choose-wrapper::before{
  position: absolute;
  z-index: 1;
  top: calc(50% - 370px);
  left: calc(50% - 700px);
  display: inline-block;
  content: "";
  background-image: url("../images/harflar.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 110px;
  height: 120px;
  
}
.choose-list:nth-child(2){
  padding-right: 20px;
  padding-left: 20px;
}
.choose-list{
  list-style: none;
  
}
.choose-list-text{
  margin-bottom: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  text-transform: uppercase;
  
  color: #333333;
  
}
.choose-list-next-text{
  width: 370px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  
  color: #333333;
  
}

.work{
  margin-top: 289px;
  background-image: url("../images/bi4.svg");
  
  background-position:  center ;
  height: 826px;
  
}
.work::after{
  position: relative;
  z-index: 1;
  top: calc(50% - 1039px);
  left: calc(50% - -418px);
  
  display: inline-block;
  content: "";
  background-image: url("../images/butfirst.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 190px;
  height: 150px;
  
}

.line{
  margin-top: 110px;
  
}
.kvadrat{
  display: flex;
  position: relative;
  
}
.kvadrat-s:nth-child(2){
  
  margin-left: 437px;
}
.kvadrat-s:nth-child(3){
  margin-left: 880px;
}
.kvadrat-s{
  width: 60px;
  height: 60px;
  background: #F8F8F2;
  border: 4px solid #C99B67;
  position: absolute;
  top: calc(50% - 36px);
}
.work-boxes{
  display: flex;
  padding-top: 20px;
  padding-left: 0;
  
}
.work-list{
  list-style: none;
  width: 420px;
  height: 396px;
  
  background: #F8F8F2;
  
}
.work-list:nth-child(2){
  margin-right: 20px;
  margin-left: 20px;
}
.work-num{
  text-align: end;
  margin: 20px 20px;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #333333;
  
  opacity: 0.8;
  
}
.work-text{
  margin-left: 20px;
  width: 231px;
  font-weight: 700;
  font-size: 33px;
  line-height: 47px;
  text-transform: uppercase;
  
  color: #333333;
  
}
.work-next-text{
  margin-left: 20px;
  width: 385px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  
}




/* second-page */

.hero-second-wrapper{
  display: flex;
  justify-content: space-between;
  
}
.second-hero-section-text{
  width: 372px;
  margin-left: 84px;
  
}
.second-section-main-text{
  margin-top: 150px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
  
}
.second-section-next-text{
  padding-bottom: 250px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  
}
.second-hero-s-image{
  position: relative;
  /* width: 710px;
  height: 596px;
  top: calc(50% - 16px);
  left: calc(50% - 565px); */
  
  
}
.second-hero-s-image::before{
  position: absolute;
  z-index: 1;
  content: "";
  display: inline-block;
  width: 160px;
  height: 160px;
  background-image: url("../images/bugu.svg");
  background-repeat: no-repeat;
  background-size: 160px;
  transform: translate(-446%, -16%);
  
}
.second-hero-image{
  position: absolute;
  width: 710px;
  height: 596px;
  top: calc(50% - 283px);
  left: calc(50% - 640px);
  
}
.commit{ 
  margin-top: 20px;
  padding-top: 160px;
  background-image: url("../images/bi2.svg");
  /* background-repeat: no-repeat; */
  background-position:  center ;
  
}
.commit-wrapper{
  position: relative;
  padding-bottom: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.commit-text{
  padding-left: 60px;
  width: 626px;
  
}
.commit-main-text{
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  
  color: #000000;
  
}
.commit-next-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #333333;
  
}
.commit-wrapper::before{
  position: absolute;
  z-index: 1;
  top: calc(50% - 410px);
  left: calc(50% - 935px);
  display: inline-block;
  content: "";
  background-image: url("../images/barg-d.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 400px;
  height: 400px;
  
}
.quality{
  margin-top: 160px;
  background-image: url("../images/bi3.svg");
  
  background-position:  center ;
  
}
.quality-wrapper{
  display: flex;
  justify-content: space-between;
  
}
.quality-text{
  width: 639px;
  padding-top: 100px;
  
}
.quality-main-text{
  margin: 0;
  width: 400px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
  
  color: #FFFFFF;
}
.quality-next-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  
  mix-blend-mode: normal;
  opacity: 0.8;
  
}
.quality-img{
  position: relative;
  top: -80px;
  left: 60px;
  
}
.quality-hero{
  width: 550px;
  height: 500px;
}

.headquarter{
  margin-top: 20px;
  background-image: url("../images/bi4.svg");
  
  background-position:  center ;
  
}
.headquarter-text{
  margin: 0;
  padding-top: 50px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.headquarter-wrap{
  padding: 0;
  display: flex;
  
}
.headquarter-box{
  position: relative;
  margin-top: 80px;
  margin-bottom: 100px;
  list-style: none;
  width: 433px;
  /* height: 396px; */
  background: #F8F8F2;
  
}

.headquarter-box::after{
  position: absolute;
  top: 40px;
  left: 250px;
  content: "";
  background-image: url("../images/unitedkingdom.svg");
  width: 120px;
  height: 140px;
}
.headquarter-box:nth-child(2):after{
  position: absolute;
  top: 40px;
  left: 250px;
  content: "";
  background-image: url("../images/canada.svg");
  width: 120px;
  height: 120px;
}
.headquarter-box:nth-child(3):after{
  position: absolute;
  top: 40px;
  left: 250px;
  content: "";
  background-image: url("../images/australia.svg");
  width: 120px;
  height: 108px;
}
.hq-box-wrap{
  display: flex;
  
}
.hq-text-box{
  
}
.hq-box-main-text{
  margin: 0;
  padding-top: 140px;
  padding-left: 20px;
  width: 231px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #333333;
}
.hq-a-box{
  color: #333333;
  text-decoration: none;
}
.hq-box-main-text-2{
  margin: 0;
  padding-top: 190px;
  padding-left: 20px;
  width: 231px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #333333;
}
.hq-box-main-text-3{
  margin: 0;
  padding-top: 190px;
  padding-left: 20px;
  width: 231px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #333333;
}
.hq-box-text{
  padding-left: 20px;
  padding-bottom: 40px;
}
.hq-box-text-start{
  margin-top: 10px;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  
}
.tel-hq{
  text-decoration: none;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  

}
.map-img{
  margin-top: 45px;
  margin-left: 20px;
}
.headquarter-box:nth-child(2){
  margin-right: 20px;
  margin-left: 20px;
}




/* last page */

.work-2{
  margin-top: 20px;
  background-image: url("../images/bi4.svg");
  
  background-position:  center ;
  height: 620px;
  
}

.form-section{
  margin-top: 20px;
  background-image: url("../images/bi2.svg");
  /* background-repeat: no-repeat; */
  background-position:  center ;
  
}
.form-section-wrap{
  display: flex;
  
}
.reference{
  padding-top: 20px;
  padding-left: 0;
}
.reference-list{
  padding-top: 35px;
  list-style: none;
  
}
.reference-a{
  padding-bottom: 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  
  color: #555555;
}
.reference-a:hover{
  color: #000000;
  border-bottom: 4px dashed #C99B67;
}

.form-s{
  
}
.form-s-u{
  
}
.form-s-l{
  list-style: none;
  
}
.new-tag{
  padding-top: 60px;
  padding-left: 280px;
  
}
.new-s-tag{
  /* width: 660px; */
  list-style: none;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
  
  color: #000000;
  
  
}
.new-s-tag::after{
  content: "";
  display: inline-block;
  background-image: url("../images/strelka.svg");
  background-repeat: no-repeat;
  background-position: calc(50%) calc(50% - 2px);
  width: 17px;
  height: 20px;
  margin-left: 55px;
  
}
.sum-wrap{
  position: relative;
  display: flex;
  
}
.sum-wrap::after{
  position: absolute;
  z-index: 1;
  top: calc(50% + 11px);
  left: calc(50% + 385px);
  display: inline-block;
  content: "";
  background-image: url(../images/group.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 400px;
  height: 450px;
}
.sum-wrap-1{
  display: flex;
  
}
.sum-wrap-2{
  position: relative;
  display: flex;
  
}
.sum-wrap-2::before {
  position: absolute;
  z-index: 1;
  top: calc(50% - 150px);
  left: calc(50% - 1240px);
  display: inline-block;
  content: "";
  background-image: url(../images/barg-d.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 400px;
  height: 400px;
}
.sum-wrap-3{
  display: flex;
  
}
.sum-wrap-4{
  position: relative;
  display: flex;
  
}
.sum-wrap-4::before {
  position: absolute;
  z-index: 1;
  top: calc(50% - 140px);
  left: calc(50% - 1170px);
  display: inline-block;
  content: "";
  background-image: url(../images/barg-c.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 316px;
  height: 290px;
}

.sum-l{
  margin-top: 20px;
  
}
.sum-l:nth-child(2){
  margin-right: 18px;
  margin-left: 18px;
}


.sum-i:checked ~ .radio-box{
  color: white;
  background: #0A775F;
  
}



.radio-box{
  width: 210px;
  height: 225px;
  color: #333333;
  background-color:  rgba(10, 119, 95, 0.2);
  
  
}
.radio-h{
  margin: 0;
  padding-top: 30px;
  padding-left: 16px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  
  
}
.radio-p{
  padding-right: 16px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  
}
.order{
  margin-top: 100px;
  margin-left: 318px;
  width: 666px;
  height: 181px;
  
  background: #C99B67;
  
}
.order-d{
  width: 630px;
  padding-top: 40px;
  padding-left: 20px;
}
.order-s{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
}
.order-text{
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
  
}
.green-1{
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #333333;
  
}
.open-bt{
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 785px;
  border: none;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  
  background: #0A775F;
  border-radius: 100px;
}











.site-footer{
  margin-top: 50px;
  padding-top: 68px;
  padding-bottom: 68px;
  background-image: url("../images/bi1.svg");
  
  background-position: center;
  
}
.footer-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.connection{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  
}
.conn-list{
  list-style: none;
  
}
.conn-list:nth-child(2){
  padding-right: 30px;
  padding-left: 30px;
}


.modal{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  display: none;
  
}
.modal-open{
  display: block;
}

@keyframes modal-animation{
  /* 0%{
    top: 0;
  }
  50%{
    
  }
  100%{
    top: -500;
  } */
  from{
    width: 561px;
    height: 485px;
    margin-top: 150px;
    
  }
  to{
    width: 561px;
    height: 485px;
    margin-top: -500px;
  }
}
.modal-box{
  margin-right: auto;
  margin-left: auto;
  width: 561px;
  height: 485px;
  background-color: white;
  
  animation-name: modal-animation;
  animation-duration: 2s;
  animation-iteration-count: none;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  
  
}
.modal-main-text{
  /* width: 400px; */
  padding: 19px 210px 19px 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  text-transform: uppercase;
  background: #C99B67;
  color: #FFFFFF;
}
.modal-next-text{
  margin-top: 50px;
  margin-bottom: 0;
  width: 501px;
  margin-left: 19px;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  
  color: #000000;
  
}
.green{
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  
  color:  #0A775F;
  
}
.modal-p-text{
  width: 486px;
  margin-left: 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  
  mix-blend-mode: normal;
  opacity: 0.8;
  
}
.modal-wrapper{
  margin-top: 60px;
  display: flex;
  align-items: center;
  
}
.modal-strong{
  margin-left: 19px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  
  color: #000000;
  
}
.close-bt{
  border: none;
  width: 144px;
  height: 55px;
  margin-left: 232px;
  
  background: #0A775F;
  border-radius: 100px;
  
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
  mix-blend-mode: normal;
  
}
